:root {
        --color-1: #167288;
            --color-2: #8cdaec;
            --color-3: #b45248;
            --color-4: #d48c84;
            --color-5: #a89a49;
            --color-6: #d6cfa2;
            --color-7: #3cb464;
            --color-8: #9bddb1;
            --color-9: #643c6a;
            --color-10: #836394;
}