
.header {
    max-width: 90vw;
    min-height: 50px;

    overflow-x: hidden;

    position: fixed;
    top: 20px; 
    left: 2.5vw;
    border-radius: 20px;

    /* filter: blur(20px); */
    background-color: transparent;
    backdrop-filter: blur(20px);

    border: 2px solid whitesmoke;

    width: 100%;
    padding: 0 1rem;
    color: black;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    z-index: 1000;
}

.middle-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 220px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    cursor: pointer;
}

.middle-container-item {    

    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
    text-decoration: none !important;
    color: #000;
    font-family: "Lato-Bold";

    width: 100px;
    height: 30px;
    border-radius: 15px;
    border: 2px solid transparent;

    cursor: pointer;
}

.middle-container-item:hover {
    /* border: 2px solid #000; */
    background-color: #dad9e9;
}

.active {
    background-color: #cecce8;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.logout {
    color: red;
}

