.image {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    font-family: "Lato";
}

.innerContainer {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
}

.textContainer {
    width: 90%;
    padding-left: 2rem;
}

@media (min-width: 768px) {
    .textContainer {
        width: 40%;
        padding-left: 2rem;
    }
}

@media (min-width: 1024px) {
    .textContainer {
        padding-left: 3.75rem;
    }
}

.heading {
    margin-bottom: 1rem;
    font-size: 3rem;
    font-family: 'austragen';
    font-weight: 700;
    max-width: max(400px, 30vw);
    line-height: 1.0;
}

@media (min-width: 768px) {
    .heading {
        font-size: 4rem;
    }
}

@media (min-width: 1024px) {
    .heading {
        font-size: 5rem;
    }
}

.subText {
    margin-bottom: 3rem;
    opacity: 0.8;
    font-family: 'Lato';
}

.buttonContainer {
    display: flex;
    gap: 0.5rem;
    font-family: 'Lato';
}

.buttonStyle {
    font-family: 'Lato';
    height: 2.5rem;
    width: 7rem;
    border-radius: 10px;
    border: 1px solid #000;
    background-color: #4338ca;
    color: white;
    cursor: pointer;
}

.buttonStyle2 {
    font-family: 'Lato';
    height: 2.5rem;
    width: 7rem;
    border-radius: 10px;
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

.buttonStyle:hover {
    background-color: #6458e2;
}

.buttonStyle2:hover {
    background-color: #dad9e9;
}

